<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <img src= "<%=@user.image%>">
</p>

<p>
  <strong>Wineries <%= @user.name %> has visited:</strong>
  <ul class="user_wineries">
    <% for winery in @user.wineries %>
    <li>
      <%= link_to winery.name, winery_path(winery) %>
      <%= link_to "Remove", unfavorite_winery_path(winery), :method => :post %>
    </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
