<p id="notice"><%= notice %></p> <%= link_to 'Back', wineries_path %>

<p>
  <strong>Name:</strong>
  <%= @winery.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @winery.location %>
</p>

<p>
  <strong>Website:</strong>
  <%= @winery.website %>
</p>

<p>
  <img src= "<%= @winery.image %>">
</p>

<p>
  <strong>Phone number:</strong>
  <%= @winery.phone_number %>
</p>

<p>
  <strong>Visitors:</strong>
  <%= @winery.visitors %>
</p>

<p>
  <strong>Tours:</strong>
  <%= @winery.tours %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @winery.pets %>
</p>

<% if current_user %>
<p>
  <%= link_to 'Add a Review', new_winery_review_path(@winery) %>
  <%= link_to 'Add to Favorites', favorite_winery_path(@winery), method: :post %>
</p>
<% end %>

<p>
  <strong>Reviews:</strong>
  <ul>
  <% @winery.reviews.each do |review| %>
    <li><%= review.score %>/10 - <%= review.content %></li>
  <% end %>
  </ul>
</p>

<% if current_user.admin %>
  <%= link_to 'Edit Winery', edit_winery_path(@winery) %> |
  <%= link_to 'Delete Winery', @winery, method: :delete %> |
<% end %>
